.left{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}
.formInput{
    position: absolute;
    bottom: 20px;
    right: 20px;
}