.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 1024px;
}

.placeItem {
    display: flex;
    flex-direction: column;
}
  
.name {
    font-weight: 500;
    font-size: 14px;
}

.number {
    color: #666;
    font-size: 12px;
}
  