.new1 {
  width: 100%;
  display: flex;
}

.new1 .newContainer1 {
  flex: 6;
}

.new1 .newContainer1 .top1,
.new1 .newContainer1 .bottom1 {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.new1 .newContainer1 .top1 h1,
.new1 .newContainer1 .bottom1 h1 {
  color: lightgray;
  font-size: 20px;
}

.new1 .newContainer1 .top1 .left1,
.new1 .newContainer1 .bottom1 .left1{
  flex: 1;
  text-align: center;
}

.new1 .newContainer1 .top1 .left1 img,
.new1 .newContainer1 .bottom1 .left1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.new1 .newContainer1 .top1 .right1,
.new1 .newContainer1 .bottom1 .right1 {
  flex: 2;
}

.new1 .newContainer1 .top1 .right1 form,
.new1 .newContainer1 .bottom1 .right1 form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.new1 .newContainer1 .top1 .right1 form .formInput1,
.new1 .newContainer1 .bottom1 .right1 form .formInput1 {
  width: 40%;
}

.new1 .newContainer1 .top1 .right1 form .formInput1 label,
.new1 .newContainer1 .bottom1 .right1 form .formInput1 label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new1 .newContainer1 .top1 .right1 form .formInput1 label .icon,
.new1 .newContainer1 .bottom1 .right1 form .formInput1 label .icon {
  cursor: pointer;
}

.new1 .newContainer1 .top1 .right1 form .formInput1 input,
.new1 .newContainer1 .bottom1 .right1 form .formInput1 input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.new1 .newContainer1 .top1 .right1 form button,
.new1 .newContainer1 .bottom1 .right1 form button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
