.navbarAdmin {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.navbarAdmin .wrapperAdmin {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarAdmin .wrapperAdmin .searchAdmin {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 3px;
}

.navbarAdmin .wrapperAdmin .searchAdmin input {
  border: none;
  outline: none;
  background: transparent;
}

.navbarAdmin .wrapperAdmin .searchAdmin input::placeholder {
  font-size: 12px;
}

.navbarAdmin .wrapperAdmin .itemsAdmin {
  display: flex;
  align-items: center;
}

.navbarAdmin .wrapperAdmin .itemsAdmin .itemAdmin {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.navbarAdmin .wrapperAdmin .itemsAdmin .itemAdmin .iconAdmin {
  font-size: 20px;
}

.navbarAdmin .wrapperAdmin .itemsAdmin .itemAdmin .avatarAdmin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbarAdmin .wrapperAdmin .itemsAdmin .itemAdmin .counterAdmin {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}
