.roomEmpty{
    width: 1024px;
}

.headerSearch2 {
    height: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 80%; 
    padding: 10px 0;
}
.headerSearchItem6 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    width: 50%;
    border: 3px solid #febb02;
    height: 100%;
    padding: 10px;
}
.headerSearchItem5 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    width: 50%;
    height: 100%;
    border: 3px solid #febb02;
    padding: 10px;
}
.price{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 8px;
}
.pricePrev{
    color: red;
    text-decoration: line-through;
    font-size: 12px;
}
.priceNext1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.priceNext{
    font-weight: 700;
}
.thue{
    font-size: 12px;
    color: gray;
}
.percent1{
    font-size: 12px;
    color: white;
    background-color: green;
    padding-right: 0;
    padding: 2px 0 2px 5px;
    padding-right: 0;
    border-radius: 5px;
    width: 60%;
}
.percent2{
    font-size: 12px;
    color: white;
    background-color: green;
    padding-right: 0;
    padding: 2px 0 2px 5px;
    padding-right: 0;
    border-radius: 5px;
}
.timeCancel{
    display: flex;
    gap: 5px;
    font-size: 13px;
    color: green;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
}
.servicesRoom{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.servicesItem1{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.roamRoom{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 5px;
    border-top: 1px solid rgb(191, 191, 191);
    padding-top: 10px;
}
.roamItem{
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.nameRoom{
    text-decoration: underline;
    cursor: pointer;
    color: #4c76b2;
}
thead {
    position: sticky;
    top: -10px;
    background-color: white;
    z-index: 999; 
}
th {
    position: sticky;
    top: 0;
}
  